<div class="backdrop" (click)="onClose()">
    <div class="modalContainer" (click)="$event.stopPropagation()">
            <div class="modalHeader">
                <h2 class="modalTitle">
                    <ng-content select="[modal-title]"></ng-content>
                </h2>
            </div>
            <div class="modalBody">
                <ng-content></ng-content>
            </div>
            <!-- <div class="modalFooter">
                <button class="btn">Submit</button>
            </div> -->
    </div>
</div>