.taskBoardBody{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Header Css */
.header{
    height: 60px;
    min-height: 60px;
    display: flex;
    padding: 0 24px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    background-color: cornflowerblue;
    color: #fff;
}
